:root {
    --border-radius: 5px;
}

[data-theme="light"] {
    --color-highlight-red: #CC4747;
    --color-highlight-green: #488234;
    --color-text: #2D2D2D;
    --color-background: #fff;
    --color-background-overlay: rgba(255, 255, 255);
    --color-outline: #959595;
    --color-button: #fff;
    --color-primary: #FDC300;
    --color-grey: #E7E7E7;
}

[data-theme="dark"] {
    --color-highlight-red: #F75757;
    --color-highlight-green: #78D95B;
    --color-text: #fff;
    --color-background: #2D2D2D;
    --color-background-overlay: rgba(45, 45, 45);
    --color-outline: #D7D7D7;
    --color-button: #414141;
    --color-primary: #FDC300;
    --color-grey: #545454;
}

/**************************************************************************************************************/
/**********************************           Common             **********************************************/
/**************************************************************************************************************/

body {
    color: var(--color-text);
    font-family: sans-serif;
    font-size: 16px;
    margin:0;
    position: relative; /* button__wrapper */
    z-index: 0;
}

h1 {
    opacity: 0;
    position: absolute;
}

svg {
    fill: currentColor;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.highlight--green {
    color: var(--color-highlight-green);
}

.highlight--red {
    color: var(--color-highlight-red);
}

.debug-info {
    position: fixed;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 10px 20px;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/**************************************************************************************************************/
/**********************************    Controls, Button Toggle   **********************************************/
/**************************************************************************************************************/

.button__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute; /* body */
    top: 25px;
    left: 20px;
    z-index: 10;
}

.button__wrapper .button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.button--tutorial {
    background-color: #51B8F2;
}

.button--search {
    background-color: var(--color-primary);
}

.button.button--mode {
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid white;
}

.button {
    border-radius: var(--border-radius);
    border: none;
    font-size: 16px;
    height: 30px;
    margin-left: 10px;
}

.button--mode .icon svg:last-child,
.dummy-button--mode svg:last-child {
    display: none;
}

html[data-theme="dark"] .button--mode .icon svg:last-child,
html[data-theme="dark"] .dummy-button--mode svg:last-child {
    display: block;
}

html[data-theme="dark"] .button--mode .icon svg:first-child,
html[data-theme="dark"] .dummy-button--mode svg:first-child {
    display: none;
}

/**************************************************************************************************************/
/**********************************           Overlay            **********************************************/
/**************************************************************************************************************/

.overlay {
    background-color: var(--color-background-overlay);
    bottom: 0;
    display: none;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
}

.overlay.open {
    display: block;
}

.overlay h3 {
    margin: 25px 0 15px;
}

.overlay ul {
    padding: 0;
    margin: 0;
}

.overlay li {
    list-style: none;
}

.overlay__header {
    background-color: var(--color-primary);
    color: #2D2D2D;
    padding: 30px 20px;
    position: relative; /* overlay__header-close-button */
}

.overlay__header h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 5px;
}

.overlay__header-close-button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    position: absolute; /* overlay__header */
    right: 20px;
    top: 20px;
}

.overlay--permission-warning .overlay__header-close-button {
    position: relative;
    text-align: center;
    background-color: var(--color-highlight-red);
    color: var(--color-background);
    padding: 0 20px;
    margin: 0;
    top: 0;
    right: 0;
    font-weight: 600;
}

.overlay__header-close-button svg {
    fill: #2D2D2D;
    height: 38px;
    width: 38px;
}

.overlay__content {
    padding: 10px 20px 20px;
}

/*******************************  Permission Overlay  *******************************************/
/*******************************  and Search Overlay  *******************************************/

.overlay--permission-warning,
.overlay--search {
    background-color: var(--color-grey);
    padding: 0 16px;
}

.overlay--search .overlay__header-close-button svg {
    fill: var(--color-text);
}

.warning-box,
.search-box {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    max-width: 500px;
    margin: 130px auto 0;
}

.warning-box.hidden {
    display: none;
}

.warning-box__top,
.search-box__top {
    background-color: var(--color-primary);
    color: #2D2D2D;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.warning-box__top {
    background-color: var(--color-highlight-red);
}

.warning-box__top svg,
.search-box__top svg {
    width: 50px;
    color: var(--color-background);
}

.warning-box__content,
.search-box__content {
    padding: 30px 24px;
}

.warning-box__content {
    text-align: center;
}

.search-box__content form {
    display: flex;
    flex-direction: column;
}

.warning-box__content h2,
.search-box__content h2 {
    margin: 0 0 20px;
}

.warning-box__content h2,
.warning-box__content p {
    text-align: center;
}

.search-box__content label {
    margin-bottom: 10px;
}

.search-box__content select {
    margin-bottom: 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-text);
    height: 40px;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px 12px; 
}

.search-box__content button {
    background-color: var(--color-primary);
    margin: 0 auto;
    width: fit-content;
    padding: 0 30px;
    font-weight: 600;
}

/**********************************  Detail Page  **********************************************/

.overlay__content-lines-wrapper {
    display: flex;
}

.overlay__content-lines-wrapper li {
    align-items: center;
    display: flex;
    justify-content: center;
}

.type--tram,
.type--bus {
    margin-right: 10px;
    padding: 5px 8px 5px 8px;
    border: 1px solid var(--color-text);
}

.type--bus {
    border-radius: 50%;
}

.tooltip {
    position: relative;
    width: fit-content;
    margin-top: 24px;
}

.tooltip__button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.tooltip__button svg {
    width: 20px;
    height: 20px;
}

.tooltip__content {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    position: absolute;
    bottom: 5px;
    right: 0;
    transform: translate(110%, 0);
    padding: 10px 15px;
    border-radius: var(--border-radius);
}

.tooltip__content.hidden {
    display: none;
}

.tooltip__content div {
    background-color: white;
}

.tooltip__wrapper {
    display: flex;
    flex-direction: row;
}

.overlay__content-departures,
.overlay__content-detour {
    max-width: 500px;
}

ul.overlay__content-departures-wrapper,
ul.overlay__content-detour-wrapper li {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-outline);
    padding: 0 30px;
}

.overlay__content-departures-wrapper li {
    border-bottom: 1px solid var(--color-outline);
    padding: 15px 0;
}

.overlay__content-departures-wrapper li:last-child {
    border: none;
}

.overlay_content-depatures-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 5px;
    align-items: center;
}

.overlay .overlay_content-depatures-header h3 {
    margin: 0;
}

.live-hint {
    padding: 5px;
    color: white;
    background-color: var(--color-highlight-red);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
}

.live-hint svg {
    margin-left: 5px;
    animation-name: pulsing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.overlay__content-departures-info {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}

.overlay__content-departures-detail-info {
    margin-top: 6px;
}

.overlay__content-departures-detail-info,
.overlay__content-detour-type,
.overlay__content-detour-info {
    font-size: 14px;
}

ul.overlay__content-detour-wrapper li {
    margin-bottom: 10px;
}

.overlay__content-detour-header {
    padding: 15px 0;
    width: 100%;
    font-size: inherit;
    text-align: left;
    background: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay__content-detour-header.open svg {
    transform: rotate(180deg);
}

.overlay__content-detour-type {
    color: var(--color-highlight-red);
}

.overlay__content-detour-line {
    font-weight: 600;
}

.overlay__content-detour-info div {
    margin-top: 10px;
}

.overlay__content-detour-content {
    padding: 15px 0;
    border-top: 1px solid var(--color-outline);
}

.overlay__content-detour-content.hide {
    overflow: hidden;
    height: 0;
    padding: 0;
    border-top: none;
}

/**********************************  Tutorial Overlay  **********************************************/

.overlay--tutorial h2 {
    margin-right: 60px;
}

.permission-box--location,
.permission-box--camera {
    padding: 15px;
    border: 2px solid var(--color-highlight-green);
    color: var(--color-highlight-green);
    border-radius: var(--border-radius);
    margin-bottom: 15px;
    display: flex;
    font-weight: 600;
    text-align: left;
    align-items: center;
}

.permission-box--location .icon,
.permission-box--camera .icon {
    display: flex;
}

.permission-box--location .icon svg,
.permission-box--camera .icon svg {
    margin-right: 10px;
}

.permission-box--location.permission-denied,
.permission-box--camera.permission-denied {
    border-color: var(--color-highlight-red);
    color: var(--color-highlight-red);
}

.slide-item__content {
    padding: 0 20px;
}

.slide-item__content-text {
    margin-bottom: 25px;
}

.overlay__content.swiper {
    position: absolute;
    left: 0;
    right: 0;
    top: 112px;
    bottom: 0;
}

.slide-item__headline {
    text-align: center;
    margin: 30px 0 25px;
}

.slide-item ul li {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.slide-item .icon-list .icon {
    margin-right: 15px;
}

.slide-item .icon-list .icon svg {
    width: 50px;
}

.slide-item .icon .dummy-button {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.slide-item .icon .dummy-button.dummy-button--mode {
    background-color: var(--color-background);
    border: 1px solid white;
    color: var(--color-text);
}

.slider-control-wrapper {
    position: absolute;
    background-color: var(--color-background);
    height: 80px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-control-wrapper .tutorial-slider-button::after {
    content: none;
}

.slider-control-wrapper .tutorial-slider-button {
    height: 35px;
    width: 100px;
    justify-content: left;
}

.slider-control-wrapper .tutorial-slider-button.swiper-button-next {
    justify-content: right;
}

.slider-control-wrapper .swiper-button-prev svg {
    transform: rotate(180deg);
}

.slider-control-wrapper .tutorial-slider-button svg {
    width: 35px;
    height: 35px;
    fill: var(--color-text);
}


/************************************************************************************************/
/**********************************    Help Box    **********************************************/
/************************************************************************************************/

.help-box__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.help-box {
    background-color: #9FDDFF;
    color: #2D2D2D;
    border-radius: var(--border-radius);
    margin: 0 20px 25px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 500px;
}

.help-box.hidden {
    display: none;
}

.help-box .icon-wrapper {
    width: 35px;
}

.help-box button {
    background-color: transparent;
    border: none;
}
